*:focus {
 outline: none;
}

body {
 margin: 0px;
}

header {
 width: 100%;
 height: 10%;
 background-color: black;
 border-bottom: 1px solid rgb(255, 155, 0);
 box-shadow: 0px 0px 25px rgb(255, 155, 0);
 position: sticky;
 display: grid;
 grid-template-columns: 4fr 1fr;
 justify-items: center;
 align-items: center;
}

.pageContainer {
 width: 100%;
 height: 80%;
 background-color: black;
 display: inline-flex;
}

.page {
 width: 80%;
 height: 100%;
 background-color: black;
}

.trackList {
 width: 19.5%;
 height: 100%;
 border-right: 1px solid rgb(255, 155, 0);
 background-color: black;
 overflow-y: auto;
}

footer {
 position: fixed;
 width: 98%;
 height: 10%;
 background-color: black;
 display: grid;
 grid-template-rows: 1fr;
 grid-template-columns: 1fr 1fr 1fr 1fr 8fr;
 align-items: center;
 justify-items: center;
 padding-left: 1%;
 padding-right: 1%;
 border-top: 1px solid rgb(255, 155, 0);
}

.page p {
 color: white;
 font-size: 50px;
 text-align: center;
 margin-top: 50px;
}

#searchTracks {
 color: white;
 font-size: 25px;
 width: 100%;
 height: auto;
 border: none;
 background-color: rgba(255, 255, 255, 0.25);
 border-bottom: 1px solid rgba(255, 255, 255, 1);
 transition: background-color 0.5s, border-bottom 0.5s;
}

#searchTracks:focus {
 border-bottom: 1px solid rgba(255, 255, 255, 0.75);
 background-color: rgba(255, 255, 255, 0.15);
}

.trackList .track {
 color: rgba(255, 255, 255, 1);
 font-size: 25px;
 width: auto;
 height: auto;
 border-bottom: 1px dashed rgb(255, 155, 0);
 margin-top: 10px;
 cursor: pointer;
 text-align: center;
}

.trackList .track:hover {
 color: rgb(255, 155, 0);
 border-bottom: 1px dashed rgba(0, 0, 255, 1) !important;
 text-shadow: 0px 0px 15px rgb(255, 155, 0);
}

#searchBy {
 width: 100%;
 height: 5%;
 font-size: 22px;
 background-color: rgba(255, 255, 255, 0.75);
 transition: background-color 0.5s;
 border: none;
}

select option:disabled {
	color: red;
}

#searchBy:focus {
 background-color: rgba(255, 255, 255, 1);
}

.searchByText {
 color: white;
 font-size: 25px;
 margin: 0px;
}

#noResults {
	color: red;
	font-size: 35px;
	text-align: center;
	display: none;
	margin: 0px;
}

#canvas {
	width: 50%;
	height: 80%;
	margin-top: 10%;
	background-color: red;
}

.progressBar {
	background-color: red;
	height: 80%;
	width: 90%;
	border-radius: 25px;
}

#progress {
	height: 100%;
	width: 0px;
	background-color: rgb(255, 155, 0);
	box-shadow: 0px 0px 25px rgb(255, 155, 0);
	border-radius: 25px;
}

.headerIntro {
	color: rgb(255, 155, 0);
	text-shadow: 0px 0px 25px rgb(255, 155, 0);
	font-size: 35px;
	margin: 0px;
	justify-self: left;
	margin-left: 35px;
}

#previousBtn, #nextBtn, #playBtn, #time {
	color: rgb(255, 155, 0);
	font-size: 35px;
	text-shadow: 0px 0px 15px rgb(255, 155, 0);
}

#previousBtn, #nextBtn, #playBtn {
	cursor: pointer;
}

.downloadBtn {
	position: relative;
	right: 0px;
	text-decoration: none;
	font-size: 35px;
	color: white;
}

header .headerIntro img {
	width: 50px;
	height: 50px;
	margin: 0px;
	border-radius: 50%;
}

#imageDisplay {
	display: none;
	position: absolute;
	width: 25%;
	height: 25%;
	border: 2px solid white;
}

#downloadPrompt {
	width: 50%;
	height: 50%;
	top: 25%;
	left: 25%;
	background-color: black;
	position: absolute;
	border-radius: 25px;
	box-shadow: 0px 0px 25px rgb(255, 155, 0);
}

#downloadPromptText {
	color: rgb(255, 155, 0);
	text-shadow: 0px 0px 25px rgb(255, 155, 0);
	font-size: 25px;
	text-align: center;
}

#downloadPromptInput {
	resize: none;
	margin: auto 0;
	width: 50%;
	margin-left: 25%;
	border: none;
	border-bottom: 1px solid rgb(255, 155, 0);
	background-color: transparent;
	color: rgb(255, 155, 0);
	text-shadow: 0px 0px 5px rgb(255, 155, 0);
	font-size: 25px;
	height: 30px;
	padding: 0px;
	text-align: center;
}

#downloadPromptAccept {
	text-align: center;
	color: rgb(255, 155, 0);
	text-shadow: 0px 0px 25px rgb(255, 155, 0);
	font-size: 25px;
	cursor: pointer;
}

#downloadPromptLink {
	text-align: center;
	color: rgb(255, 155, 0);
	text-shadow: 0px 0px 25px rgb(255, 155, 0);
	font-size: 25px;
	text-decoration: none;
	transition: color .25s;
}

#downloadPromptLink:hover {
	color: white;
}
