header {
 border-bottom: 1px solid purple !important;
 box-shadow: 0px 0px 25px purple !important;
}

.trackList {
 border-right: 1px solid purple !important;
}

footer {
 border-top: 1px solid purple !important;
}

.trackList .track {
 border-bottom: 1px dashed purple !important;
}

.trackList .track:hover {
 color: purple !important;
 text-shadow: 0px 0px 15px purple !important;
}

#progress {
	background-color: purple !important;
	box-shadow: 0px 0px 25px purple !important;
}

#previousBtn, #nextBtn, #playBtn, #time {
	color: purple !important;
	text-shadow: 0px 0px 15px purple !important;
}
